<ion-content [fullscreen]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     <ion-menu-button *ngIf="!back"></ion-menu-button>
     <ion-back-button *ngIf="back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="!actualizarEnable" (click)="actualizarEnable = true"  class="normal" color="dark" slot="end">
      <ion-button fill="clear">EDITAR</ion-button>
     </ion-buttons>
  </ion-toolbar>
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="{{usuario.foto}}" />
      </ion-avatar>
    </div>
  </ion-grid>

  <div> 
  <ion-row text-center>
    <ion-col size="6" class="ion-align-self-center" >
      <ion-item lines="none" class="ion-text-center">
        <ion-icon color="primary" name="id-card-outline"></ion-icon>
        <ion-label>
          <p>{{usuario.Nombre}}</p> 
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col size="6" class="ion-align-self-center" >
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="reader-outline" color="primary"></ion-icon>
        <ion-label>
          <p>Información Basica</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <!--modo lectura-->

  <ion-list lines="full" *ngIf="!actualizarEnable">
    <ion-item>
      <ion-label>
        <ion-text>Nombre</ion-text>
        <p><ion-text color="dark">{{usuario.Nombre}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Edad</ion-text>
        <p><ion-text color="dark">24</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Sexo</ion-text>
        <p><ion-text color="dark">Masculino</ion-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!--modo modificacion-->

  <ion-list lines="full" *ngIf="actualizarEnable">
    <ion-item>
      <ion-label>
        <ion-text>Nombre</ion-text>
        <p><ion-input [(ngModel)]="usuario.Nombre" color="dark"></ion-input></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Edad</ion-text>
        <p><ion-input [(ngModel)]="usuario.edad" color="dark"></ion-input></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Sexo</ion-text>
        <p><ion-input [(ngModel)]="usuario.sexo" color="dark"></ion-input></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="actualizarEnable">
    <ion-label class="normal">
        Foto:
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
         <label for="file-upload">
           <ion-icon slot="icon-only" name="images"></ion-icon>
         </label>
          <input  (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
      </ion-button>
    </ion-buttons>
  </ion-item>
 <!-- <ion-item>
    <img class="image"  [src]="usuario.foto">
  </ion-item>-->

  <ion-button *ngIf="actualizarEnable" type="submot" color="primary" expand="block" shape="round" (click)="ActualizarUsuario()" (click)="actualizarEnable = false" >Guardar</ion-button>

</div>

</ion-content>
