<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-buttons slot="start" routerLink="/autocuidado">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="bottom" color="medium">AutoCuidado paso a paso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle >Nutricion de las prsonas con Alzheimer</ion-card-subtitle>
      
    </ion-card-header>
  
  </ion-card>

  <ion-card>

    <ion-card-content class="contenido">
     <p> – Si la persona envejeciente no puede masticar es importante
      cortar la comida en trocitos pequeños o triturar los alimentos de
      manera que queden con textura suave y homogéneas.</p>

     <p>– Alimentar al paciente con paciencia, amor y dentro de unos
      horarios rutinarios.</p> 

      <p>– Es preferible realizar varias comidas al día, unas 6, con
        alimentos energéticos e hiperproteicos, respetando los gustos
        previos de la persona envejeciente. Cabe recordar que las
        proteínas se encuentran en la leche, los huevos, la carne, el
        pescado y las legumbres, y son especialmente importantes para
        fortalecer el tejido muscular y la piel. </p> 

    </ion-card-content>

    
  </ion-card>
  <ion-card>
    <ion-card-content class="contenido">
      <ion-img class="derecha" src="assets/dieta.jpeg" ></ion-img>
    <p> –– La dieta tiene que ser variada y ha de
      contener diariamente pan, arroz, pasta,
      ensaladas, hortalizas, legumbres, lácteos,
      frutas, carne, pescados y huevos en las
      siguientes proporciones:</p>

    <p>-- raciones/día de lácteos (1 ración: 200 ml
      de leche, o 2 yogures, o 100 g de queso fresco).
      </p> 
    <p>--raciones de hidratos de carbono al día, con
        cereales, frutas y verduras</p>
    <p>--raciones a la semana de carnes magras: 1
          ración: 150 g</p>

    <p>--raciones de pescado a la semana
      3 huevos a la semana</p> 
   <p>--raciones de legumbres (1 ración: 60-80 g).
        Aceites vegetales, sobre todo aceite de oliva.</p>

       

   </ion-card-content>
  
  </ion-card>

  <ion-card>
    <ion-card-content class="contenido">
      <ion-img class="derecha" src="assets/co1.jpeg" ></ion-img>
    <p> Alcohol. Evita las bebidas
      alcohólicas, ya que pueden inducir
      a la confusión o la agitación y
      aumentan el riesgo de sufrir
      caídas</p>

    <p>Cafeína. Limita las bebidas con
      cafeína, ya que aumentan el riesgo
      de deshidratación.
      </p> 
    <p>Peligros de atragantamiento. Evita
      los alimentos que son difíciles de
      masticar o tragar, como las
      zanahorias crudas, las palomitas
      de maíz y las nueces.
      </p>
   </ion-card-content>
  
  </ion-card>

   
</ion-content>
