h1{
  font-size: 5rem;
  color: #F00B35;
   
}

.progress-circle {
  margin-top: 50px;
  transform: rotate(-90deg);
}
.timer-text {
  transform: rotate(-90deg);
  transform-origin: center;
  font-size: 36px;
  text-anchor: middle;
  font-weight: 600;
  fill: #333;
}
ion-toolbar {
  --background: #2665aa;
}
