h1 {
  font-size: 5rem;
  color: #f00b35;
}
h1.v {
  font-size: 10rem;
  justify-content: center;
}
.progress-circle {
  margin-top: 50px;
  transform: rotate(-90deg);
  ion-toolbar {
    --background: #2665aa;
  }
  .tam {
    height: 70%;
  }
}
