<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-buttons slot="start" routerLink="/indexgym">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      
      <ion-title id="bottom" color="medium" >Cronometro</ion-title>
      
    </ion-toolbar>
  </ion-header>
<ion-content color="dark">
  <ion-row  class="ion-justify-content-center">
   
    <h1 >{{ time | async}} </h1>
    <h1>
      <ion-icon name="walk-outline"></ion-icon>
     </h1>
 
  </ion-row>
 
  <ion-footer class="footer">
    <ion-button *ngIf="state ==='stop'" expand="block" color="primary" (click)="startTimer(startDuration)">Empezar</ion-button>
    <ion-button *ngIf="state ==='start'" expand="block" color="danger" (click)="stopTimer()">Detener</ion-button>
  </ion-footer>
</ion-content>

