<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="medium" routerLink="/login">Iniciar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form id="form0">
    <app-input placeholder="Nombres"></app-input>
    <app-input placeholder="Apellidos"></app-input>
    <app-input placeholder="Correo"></app-input>
    <app-input type="password" placeholder="Contraseña"></app-input>
    <app-input type="password" placeholder="Confirmar contraseña"></app-input>
  </form>
  
  <form id="form"> 
    <ion-button color="primary" expand="block" shape="round">Crear Cuenta</ion-button>
    <ion-button color="danger" expand="block" shape="round">Continuar con google</ion-button>
    <h6 align="center" >Al hacer clic en Crear una cuenta, acepta nuestros Términos de servicio.</h6>
  </form>
</ion-content>
