<ion-content>
  <header class="site-header" translucent>

     <div class="hero" >
  <div> 
    <ion-buttons class="izqu" slot="start" routerLink="/recordatorios">
    <ion-button color="light">
      <ion-icon slot="icon-only" name="arrow-back">
    </ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="derec">
    <ion-searchbar class="ion-float-right"placeholder=""
    witch="20px"
    color="light" 
    showCancelButton="focus"
    animated 
    inputmode="text"
    (ionChange)="onSearchChange(event)"
    [debounce]="250"
    ></ion-searchbar>
</div>
</div>    
        <div class="contenido-header">
          
            <div class="informacion-evento">
                <div class="clearfix">
                   
                </div>

                <h1 class="nombre-sitio">TeCuidamos</h1>
                <p class="slogan">La mejor resetas <span>para Dietas</span></p>
            </div>
            <!--.informacion-evento-->
            <ion-header>
                <ion-toolbar>
                  
                  <ion-title  color="medium">Dietas</ion-title>
                </ion-toolbar>
              </ion-header>

        </div>
    </div>
    <!--.hero-->
</header>
<ion-grid>
    <ion-row>
      <ion-col size="6">
        <div >
          
            <p><ion-img  src="assets/cuidado.jpeg"></ion-img></p>
             
        </div>
        <div>
            
            <p><ion-img src="assets/cuidado.jpeg"></ion-img></p>
            
        </div>
        <div>
          
            <p><ion-img src="assets/cuidado.jpeg"></ion-img></p>
             
        </div>
        <div>
            
            <p><ion-img src="assets/cuidado.jpeg"></ion-img></p>
             
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
            
            <p><ion-img src="assets/cuidado.jpeg"></ion-img></p>
              
        </div>
        <div>
           
            <p><ion-img src="assets/cuidado.jpeg"></ion-img></p>
              
        </div>
        <div>
          
            <p><ion-img src="assets/cuidado.jpeg"></ion-img></p>
           
        </div>
        <div>
            
            <p><ion-img src="assets/cuidado.jpeg"></ion-img></p>
             
        </div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
