<ion-content>
  <header class="site-header">
    <div class="hero">
        <div class="contenido-header">
            <nav class="redes-sociales">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </nav>
            <div class="informacion-evento">
                <div class="clearfix">
                    <p class="fecha"><i class="fa fa-calendar" aria-hidden="true"></i> 10-12 Dic</p>
                    <p class="ciudad"><i class="fa fa-map-marker" aria-hidden="true"></i> Guadalajara, MX</p>
                </div>

                <h1 class="nombre-sitio">Dieta</h1>
                <p class="slogan">La mejor conferencia de <span>diseño web</span></p>
            </div>
            <!--.informacion-evento-->

        </div>
    </div>
    <!--.hero-->
</header>
</ion-content>
