<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/recordatorios">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  color="medium">Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">MM/DD/YYYY</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" min="1960-01-01" max="2060-12-31" value="2002-09-23T15:03:46.789"></ion-datetime>
    
  
    <ion-label position="floating">Floating Label</ion-label>
  <ion-input></ion-input>
  </ion-item>
<p></p>
<p></p>
 
<div id="header">
  <img class="img-circle-small img-responsive">
</div>

<div id="header">
  <ion-button size="small">Block Button</ion-button>
</div>
<div id="padining">
  <ion-fab-button click="save" class="ion-float-right">+</ion-fab-button>
</div>

  
  
</ion-content>

