#mobile-menu {
  width: 30px;
  float: left;
  margin: 10px;
}
#bottom {
  align-self: flex-end;
  margin: 10px;
}
#agregar {
  margin: 10px;
}
.forma {
  height: 10vw;
  width: 10vw;
  margin-left: 0 0 0 auto;
  margin-right: 0 0 0 auto;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
#padining {
  padding: 1rem;
}
img {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
texto-blanco {
  --color: #ffffff;
}
ion-toolbar {
  --background: #2665aa;

  ion-button {
    text-transform: initial;
    font-size: 10px;
    position: relative;
  }
  .posicion {
    margin: 2rem;
    position: absolute;
    margin-right: 1;
  }
}
