<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/recordatorios">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  color="medium">Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Datos</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-datetime placeholder=Cita  display-forrmat="DD MMMM YYYY"
    cancelText="Cancelar!"
    [ngModel]="fechaCita.toISOString()"
    (ionChange)="cambioFecha($event)"></ion-datetime>
  </ion-item>
  <ion-list-header>
    <ion-label>Datos</ion-label>
  </ion-list-header>    
  <ion-item>
    <ion-label position="floating">Hora</ion-label>
    <ion-datetime displayFormat="HH:mm" placeholder=Cita  display-forrmat="HH MM SS"
    cancelText="Cancelar!"
    [ngModel]="fechaCita.toISOString()"
    (ionChange)="cambioFecha($event)"></ion-datetime>
  </ion-item>
  
<p></p>
<p></p>
 
<div id="header">
  <img class="img-circle-small img-responsive">
</div>

<div id="header">
  <ion-button vertical="bottom" horizontal="end" slot="fixed" >Block Button</ion-button>
</div>

<div id="padining">
  <ion-fab-button click="save" class="ion-float-right">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</div>

  
  
</ion-content>

