<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons (click)="openMenu()" slot="start">
			<ion-button>
				<ion-icon name="apps"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button class="bordered" fill="solid" color="light">
				<ion-icon color="custom" name="notifications"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<ion-item lines="none">

		<ion-avatar slot="start">
			<img src="assets/avatar2.jpg">
    </ion-avatar>
			<ion-label>
				<p>Hola,</p>
				<h3>{{usuario.Nombre}}</h3>
			</ion-label>

	</ion-item>

</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide routerLink="/perfil">
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/avatar.jpg"> 
            </div>
            <img class="files" src="assets/SlidePerfil.jpg">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Perfil</ion-card-title>
            <ion-progress-bar value="0.2" color="primary"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/medicamentos.jpg">
            </div>
            <img class="files" src="assets/SlideMedicamentos2.jpg">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Medicamentos</ion-card-title>
            <ion-progress-bar value="0.4" color="primary"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img  src="assets/autocuidados.jpg">
            </div>
            <img class="files" src="assets/SlideAutoCuidados.jpg">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Autocuidados</ion-card-title>
            <ion-progress-bar value="0.6" color="primary"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/recordatorios.png">
            </div>
            <img class="files" src="assets/SlideRecordatorios.jpg">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Recordatorios</ion-card-title>
            <ion-progress-bar value="0.8" color="primary"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/medioambiente.png">
            </div>
            <img class="files" src="assets/SlideMedioAmbiente.jpg">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Medio Ambiente</ion-card-title>
            <ion-progress-bar value="1" color="primary"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </div>

  <div class="container">

    <h2 class="ion-text-center" >Bienvenido</h2>

    


  </div>

</ion-content>