<ion-header>
  <ion-toolbar>
    <ion-buttons class="izqu" slot="start" routerLink="/home">
      <ion-button color="dark" Slot="end">
        <ion-icon slot="icon-only" name="arrow-back">
      </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">Noticias</ion-title>
  </ion-toolbar>
  <div>
    <ion-segment color="primary" value="call" class="fondo">
      <ion-segment-button routerLink="/noticias2" value="call" layout="icon-bottom">
        <ion-icon  class="azul"name="tv-outline"></ion-icon>
        <h3>ENCABEZADOS</h3> 
      </ion-segment-button>
      <ion-segment-button routerLink="/indexnoticias" value="favorite" layout="icon-bottom">
        <ion-icon  class="azul" name="star"></ion-icon>
        <h3>FAVORITOS</h3> 
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>

<app-noticias [noticias]="noticias"></app-noticias>


 
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadsData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
