ion-slides{
    height:100%;
    --bullet-background-active:#2665aa;
}
.slide1{
   background-color: #EFEDED;
   height:100%;
}
.slide2{
    background-color: #EFEDED;
    height:100%;
}
.slide3{
    background-color: #EFEDED;
    height:100%;
}