<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-buttons slot="start" routerLink="/autocuidado">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="bottom" color="medium">Cuidado salud mental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle >Consejos para cuidar tu salud mental</ion-card-subtitle>
      
    </ion-card-header>
  
  </ion-card>

  <ion-card>
    <ion-img src="assets/saludmental.jpeg" ></ion-img>
  
  </ion-card>

      <ion-card>
        <ion-card-content class="contenido">
       <ion-list>
          <ion-icon name="arrow-forward-sharp"></ion-icon>
    
          <p>Márcate objetivos: fijar metas a corto, medio y largo plazo, 
            contribuye a estructurar y dar sentido a la vida.</p>

          <ion-icon name="people-sharp"></ion-icon>
  
          <p>Cuida tus relaciones personales: el contacto social se asocia con la oxiticina, 
            un neuropéptido que proporciona sensación de bienestar. Por ello, 
            es importante que cuides tus amistades y las relaciones con tu familia. 
            Su apoyo es de gran ayuda en trastornos psicológicos 
            y para combatir la ansiedad.</p>
    
          <ion-icon name="heart-half-sharp"></ion-icon>

          <p>Controla tus emociones: es importante no angustiarse con cualquier
             circunstancia que se
             salga de lo normal.</p>

         <ion-icon name="star-sharp"></ion-icon>
  
          <p>Comparte tus preocupaciones: no te guardes para ti mismo tus preocupaciones, 
            sino que es positivo abrirse a los demás.</p>

          <ion-icon name="sunny-sharp"></ion-icon>
  
          <p>Sé positivo: adopta una actitud constructiva, positiva,
             en la que te aceptes a ti mismo y lo que te rodea.</p>

            </ion-list>

   </ion-card-content>
  
  </ion-card>
  <ion-card >
    <ion-card-content class="contenido">
      
      <ion-list>
        <ion-icon  name="alarm-outline"></ion-icon>
          <p>Cuida tus horas de sueño: dependiendo de cada persona, 
            es importante dormir entre 6 y 8 horas, aproximadamente, cada día. Además, 
            es conveniente dormir siempre a la misma hora y seguir la misma rutina.</p>

            <ion-icon name="accessibility-outline"></ion-icon>
    
          <p>Realiza ejercicio: es muy positivo practicar ejercicio unas 3 
            veces por semana, puesto que nos ayuda a  segregar endorfinas y serotonina,
            hormonas muy relacionadas con la sensación de bienestar.</p>

            <ion-icon name="happy-outline"></ion-icon>

          <p> Medita: existen muchos estudios que avalan las ventajas 
            que tiene la meditación para la mejora de nuestro estado mental.</p>
    
            <ion-icon name="restaurant-sharp"></ion-icon>

          <p>Cuida tu alimentación: selecciona bien los alimentos que componen tu dieta. 
            Evita los alimentos grasos o excesivamente azucarados y, por el contrario, 
            come mucha fruta, verduras y alimentos ricos en fibra.</p>

            <ion-icon name="hourglass-sharp"></ion-icon>

          <p>Organiza tu tiempo: aprende a priorizar, ten en cuenta tu capacidad y 
            los recursos (materiales y de tiempo) que tienes para cada tarea.</p>
      </ion-list>


  </ion-card-content>
 </ion-card >
</ion-content>
