<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-buttons slot="start" routerLink="/autocuidado">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="bottom" color="medium">Orientacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-subtitle>ORIENTACION AL CUIDADO</ion-card-subtitle>
      <ion-img class="izqu" src="assets/cuidado.jpeg" ></ion-img>
      <ion-card-title>Autocuidado y bienestar familiar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="contenido">
      El autocuidado es la decisión o acción que la persona realiza en beneficio
       de la propia persona y que tiene una gran importancia. 
       Entre las acciones para fomentar el autocuidado se encuentran:
        la alimentación adecuada, medidas higiénicas, manejo del estrés,
         cuidar de las relaciones sociales, ejercicio físico, tiempo libre,
          intimidad, adaptaciones a los cambios…
    </ion-card-content>
  </ion-card>
   
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Quien cuida a los mayores</ion-label>
      <ion-button href="https://www.youtube.com/watch?time_continue=1&v=LCSNfSlncJs&feature=emb_title"
      fill="outline" slot="end">Ver video</ion-button>
    </ion-item>
  
    <ion-card-content class="contenido">
      Un poco de yoga para el autoconocimiento, el autocuidado y bienestar.

      Para cuidarnos es necesario conocernos y esto implica conocer nuestro 
      propio cuerpo y su funcionamiento: cómo respiramos, cómo nos movemos, 
      cómo nos alimentamos, cómo sentimos, …
      
      A veces vivimos tan estresados que nos olvidamos de nosotros mismos y
       no nos cuidamos lo suficiente.
      
      En estos días que estamos confinados en casa, podemos dedicar unos minutos en familia,
       a practicar YOGA, 
      sencillos ejercicios de respiración que nos ayudarán a autocuidarnos y relajarnos.
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
