<ion-app>
  <ion-menu  menuId="main-menu" contentId="main">
  <ion-content>
<div class="menu-header-bg"></div>
<div class="header-content">
  <img src="assets/avatar2.jpg" alt="">
  <ion-label>
    <h2>Eduardo Martinez</h2>
    <p>Abuelo</p>
  </ion-label>
</div>

<ion-list class="menu-items" lines="none">
<ion-item class="active" routerLink="/home">
  <ion-icon name="home-outline"></ion-icon>
  Inicio
</ion-item>
<ion-item class="active" routerLink="/perfil">
  <ion-icon name="accessibility-outline"></ion-icon>
  Perfil
</ion-item>
<ion-item class="active" routerLink="/autocuidado">
  <ion-icon name="medkit-outline"></ion-icon>
  AutoCuidados
</ion-item>
<ion-item class="active">
  <ion-icon name="earth-outline"></ion-icon>
  MedioAmbiente
</ion-item>
</ion-list>

<div class="action-button">
  <ion-button (click)="salir()" (click)="MenuCloset()" routerLink="/login">
    <ion-icon name="exit-outline"></ion-icon>
    salir
  </ion-button>
</div>

  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>