<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-buttons slot="start" routerLink="/zona-objetivos">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      
      <ion-title >BICEPS</ion-title>
      
    </ion-toolbar>
  </ion-header>
<ion-content fullscreen>
<ion-list >
  <ion-item routerLink="/indexgym">
    <ion-avatar slot="start">
      <img src="assets/BUM.jpg">
    </ion-avatar>
    <ion-label class="negrita">
      <h1><span>ESTOCADACON MANCUERNAS</span></h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/indexgym">
    <ion-avatar slot="start">
      <img src="assets/SUMO.png">
    </ion-avatar>
    <ion-label>
      <h1><span>SENTADILLA DE UNA PIERNA</span></h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/indexgym">
    <ion-avatar slot="start">
      <img src="assets/BARBELL.jpg">
    </ion-avatar>
    <ion-label>
      <h1><span>BARBELL HANG PULL</span></h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/indexgym">
    <ion-avatar slot="start">
      <img src="assets/PARTIAL.jpg">
    </ion-avatar>
    <ion-label>
      <h1><span>PARTIAL SINGLE-LEG SQUAT</span></h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/indexgym">
    <ion-avatar slot="start">
      <img src="assets/GLUTES.jpg">
    </ion-avatar>
    <ion-label>
      <h1><span>GLUTES STRETCH</span></h1>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/indexgym">
    <ion-avatar slot="start">
      <img src="assets/PULL.jpg">
    </ion-avatar>
    <ion-label>
      <h1><span>BARBELL HIGH PULL</span></h1>
    </ion-label>
  </ion-item>
  </ion-list>
</ion-content>
