ion-avatar {
  width: 100px !important;
  height: 100px !important;
  max-width: 100px !important; //any size
  max-height: 100px !important; //any size
}
H1 {
  font-size: 0.8rem;
}
span {
  font-weight: bold;
}
