<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-img  src="assets/barras.svg"  id="mobile-menu"></ion-img>
    <ion-title id="bottom" color="medium" >Recordatorios</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-avatar>
    <ion-img src="assets/febrero_w1140.jpg"></ion-img>
  </ion-avatar>
  <ion-label id="agregar" >Agregar Recordatorios </ion-label>
  <ion-label position="floating">MM/DD/YYYY</ion-label>
  
   <ion-button href="autocuidado" color="primary">+</ion-button>

</ion-item>
<ion-content>

 


</ion-content>
<!--iniciando-->
<!--Recordatorio-->

