<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-buttons slot="start" routerLink="/login">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title id="bottom" color="medium" >Recordatorios</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-avatar>
    <ion-img src="assets/febrero_w1140.jpg"></ion-img>
  </ion-avatar>
  <ion-label id="agregar" >Agregar Recordatorios </ion-label>
  <ion-text></ion-text>
  <ion-label >MM/DD/YYYY</ion-label>
  <ion-item ><ion-fab-button href="agregar"  fill="outline" size="small">+</ion-fab-button></ion-item>
  
  

</ion-item>
<ion-content>
  <ion-list line="none">
    <ion-item>
      <ion-avatar>
        <ion-img ></ion-img>
       
      </ion-avatar>
      <ion-label position="floating">{{fecha_hora}}</ion-label>
      <ion-input [(ngModel)]="descripcion">{{descripcion}}</ion-input>
    </ion-item>
    <ion-list>
      <ion-list-header>
        <ion-label>User</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>{{pushService.userId}}</ion-label>
      </ion-item>
      <ion-list-header>
        <ion-label>Pushe</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let push of mensajes">
        <ion-label>
          <h3>{{push.title}}</h3>
          <p>{{push.body}}</p>
          <p>
            {{push.additionalData | json}}
          </p>
    
        </ion-label>
      </ion-item>
    </ion-list>
    
    

  </ion-list>



</ion-content>
<!--iniciando-->
<!--Recordatorio-->

