<ion-content>
  <header class="site-header" translucent>

     <div class="hero"  color="medium" >
  <div id="mobile-menu "> 
    <ion-buttons class="izqu" slot="start" routerLink="/home">
    <ion-button color="light" Slot="end">
      <ion-icon slot="icon-only" name="arrow-back">
    </ion-icon>
    </ion-button>
    <h3 class="center " ion-padding >Medio Ambiente</h3>
    
    <ion-searchbar placeholder="" class="medium-3bde6db7--iconOnly-bddce91a"

    slot="end"
    witch="20px"
    color="light" 
    showCancelButton="focus"
    animated 
    inputmode="text"
    (ionChange)="onSearchChange(event)"
    [debounce]="250"
  
    
    ></ion-searchbar>
  </ion-buttons>
  <div class="derec">
    
</div>
</div>    
        <div class="contenido-header">
          
            <div class="in paddining" >
                <div class="clearfix">
                   
                </div>

                <h1 class="nombre-sitio">TeCuidamos</h1>
                <p class="slogan">Cuida <span>El medio Ambiente</span></p>
            </div>
            <!--.informacion-evento-->
            <ion-header>
                <ion-toolbar >
                  
                  <ion-title  color="medium">Medio Ambiente</ion-title>
                </ion-toolbar>
              </ion-header>

        </div>
    </div>
    <!--.hero-->
</header>
<ion-grid>
    <ion-row>
      <ion-col size="6" >
        <div routerLink="/detalles-b" class="fondo">
          <p class="center">Desechos de medicamentos</p>
          <div class="imagen">
            <p><ion-img src="assets/a8.png" class="slogan imagen "></ion-img></p>  
        </div>
      </div>
        
        <div routerLink="/detalles-b">
          <p class="center">Cómo deshacerse los medicamentos:</p>
          <div class="imagen">
            <p><ion-img src="assets/a1.png" class="slogan imagen"></ion-img></p>
            
        </div>
      </div>
        
        <div routerLink="/detalles-b" class="fondo">
          <p class="center">Cómo deshacerse los medicamentos</p>
          <div class="imagen">
          
            <p><ion-img  src="assets/a2.jpeg" class="slogan imagen"></ion-img></p>
             
        </div>
      </div>
        <div routerLink="/detalles-b" class="fondo">
          <p class="center">Desechos de medicamentos</p>
        <div class="imagen">
            
            <p><ion-img  src="assets/a3.jpeg" class="slogan imagen"></ion-img></p>
             
        </div>
      </div>
      </ion-col>

      <ion-col size="6">
        <div routerLink="/detalles-b" class="fondo">
          <p class="center">Desechos de medicamentos</p>
          <div class="imagen">
            
            <p><ion-img src="assets/a4.png"class="slogan imagen"></ion-img></p>
              
        </div>
      </div>
    
        <div routerLink="/detalles-b" class="fondo">
          <p class="center">Desechos de medicamentos</p>
          <div class="imagen">
           
            <p><ion-img src="assets/a5.jpeg" class="slogan imagen"></ion-img></p>
              
        </div>
      </div>
        <div href="/detalles-b" class="fondo">
          <p class="center">Desechos de medicamentos</p>
          <div class="imagen">
            <p><ion-img src="assets/a6.jpg" class="slogan imagen"></ion-img></p>  
        </div>
      </div>
      <p class="center">Desechos de medicamentos</p>
        <div routerLink="/detalles-b" class="fondo">
          <div class="imagen"> 
            <p><ion-img  src="assets/a7.png" class="slogan imagen"></ion-img></p> 
            
        </div>
      </div>
      
        
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
