<ion-content>
  <header class="site-header" translucent>

     <div class="hero"  color="medium" >
  <div id="mobile-menu "> 
    <ion-buttons class="izqu" slot="start" routerLink="/recordatorios">
    <ion-button color="light" Slot="end">
      <ion-icon slot="icon-only" name="arrow-back">
    </ion-icon>
    </ion-button>
    <h2  >medio Ambiente</h2>
    <ion-searchbar placeholder="" class="medium-3bde6db7--iconOnly-bddce91a"

    slot="end"
    witch="20px"
    color="light" 
    showCancelButton="focus"
    animated 
    inputmode="text"
    (ionChange)="onSearchChange(event)"
    [debounce]="250"
  
    
    ></ion-searchbar>
  </ion-buttons>
  <div class="derec">
    
</div>
</div>    
        <div class="contenido-header">
          
            <div class="informacion-evento">
                <div class="clearfix">
                   
                </div>

                <h1 class="nombre-sitio">TeCuidamos</h1>
                <p class="slogan">La mejor resetas <span>para Dietas</span></p>
            </div>
            <!--.informacion-evento-->
            <ion-header>
                <ion-toolbar>
                  
                  <ion-title  color="medium">Medio Ambiente</ion-title>
                </ion-toolbar>
              </ion-header>

        </div>
    </div>
    <!--.hero-->
</header>
<ion-grid>
    <ion-row>
      <ion-col size="6"> 
        <div class="cell " href="detalle-a" >
            <p><ion-img href="detalle-a" border-radius="100%" src="assets/a8.jpg" class="slogan"></ion-img></p>  
        </div>
        <div href="detalle-a">
            
            <p><ion-img href="detalle-a" src="assets/a1.jpg" class="slogan"></ion-img></p>
            
        </div>
        <div href="detalle-a">
          
            <p><ion-img href="detalle-a" src="assets/a2.jpg" class="slogan"></ion-img></p>
             
        </div>
        <div href="detalle-a">
            
            <p><ion-img href="detalle-a" src="assets/a3.jpg" class="slogan"></ion-img></p>
             
        </div>
      </ion-col>
      <ion-col size="6">
        <div href="detalle-a">
            
            <p><ion-img href="detalle-a" src="assets/a4.jpg"class="slogan"></ion-img></p>
              
        </div>
        <div href="detalle-a">
           
            <p><ion-img href="detalle-a" src="assets/a5.jpg" class="slogan"></ion-img></p>
              
        </div>
        <div href="detalle-a">
          
            <p><ion-img href="detalle-a" src="assets/a6.jpg" class="slogan"></ion-img></p>
           
        </div>
        <div href="detalle-a">
            
            <p><ion-img href="detalle-a" src="assets/a7.jpg" class="slogan"></ion-img></p>
             
        </div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
