
<ion-content >
  <header class="site-header" translucent>

     <div class="hero"  color="medium" >
  <div id="mobile-menu "> 
    <ion-buttons class="izqu" slot="start" routerLink="/home">
    <ion-button color="light" Slot="end">
      <ion-icon slot="icon-only" name="arrow-back">
    </ion-icon>
    </ion-button>
    <h3 class="center " ion-padding >Medio Ambiente</h3>
  </ion-buttons>

</div>    
        <div class="contenedor">
          
            <div class="in paddining" >
                <p class="texto-encima">Cuida <span>El medio Ambiente</span></p>
            </div>  
        </div>
        <ion-header>
          <ion-toolbar>
          
          </ion-toolbar>
        </ion-header>
    </div>
    <!--.hero-->
</header>
<ion-grid>
    <ion-row fullscreen>
    
      <ion-col size="6" >
   
      <div routerLink="/detalles-b" class="contenedor">
        <div class="imagen" routerLink="/detalles-b">
          <p><ion-img src="assets/a8.png" class="slogan imagen "></ion-img></p>  
          <p class="centrado">Desecho de medicamentos</p>
      </div>
    </div>
      <div routerLink="/detalles-b" class="contenedor">
        <div class="imagen" routerLink="/detalles-b">
          <p><ion-img src="assets/a1.png" class="slogan imagen "></ion-img></p>  
          <p class="centrado">Cómo deshacerse los medicamentos:</p>
      </div>
    </div>
    <div routerLink="/detalles-b" class="contenedor">
        <div class="imagen" routerLink="/detalles-b">
          <p><ion-img src="assets/a2.jpeg" class="slogan imagen "></ion-img></p>  
          <p class="centrado">medicamentos:</p>
      </div>
    </div>
        
    <div routerLink="/detalles-b" class="contenedor">
      <div class="imagen" routerLink="/detalles-b">
        <p><ion-img src="assets/a3.jpg" class="slogan imagen "></ion-img></p>  
        <p class="centrado">Desechos de medicamentos</p>
    </div>
  </div>
</ion-col>

<ion-col size="6">
  <div routerLink="/detalles-b" class="contenedor">
    <div class="imagen" routerLink="/detalles-b">
      <p><ion-img src="assets/a4.png" class="slogan imagen "></ion-img></p>  
      <p class="centrado">Desechos de medicamentos</p>
  </div>
</div>
    
<div routerLink="/detalles-b" class="contenedor">
  <div class="imagen" routerLink="/detalles-b">
    <p><ion-img src="assets/a5.jpeg" class="slogan imagen "></ion-img></p>  
    <p class="centrado">Desecho de medicamentos</p>
</div>
</div>
      <div routerLink="/detalles-b" class="contenedor">
        <div class="imagen" routerLink="/detalles-b">
          <p><ion-img src="assets/a6.jpg" class="slogan imagen "></ion-img></p>  
          <p class="centrado">Desecho de medicamentos</p>
      </div>
    </div>
      <div routerLink="/detalles-b" class="contenedor">
        <div class="imagen" routerLink="/detalles-b">
          <p><ion-img src="assets/a7.png" class="slogan imagen "></ion-img></p>  
          <p class="centrado">Desecho de medicamentos</p>
      </div>
    </div>
      </ion-col>
      
    </ion-row>


  </ion-grid>

</ion-content>


<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('p').children);

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>