.imagen {
  width: 173px !important;
  height: 100px !important;
}
ion-img {
  border-radius: 20px !important;
  overflow: hidden;
  display: block;
}

.contenedor {
  position: relative;
  display: inline-block;
}
.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fffafa;
}
.imagen {
  filter: brightness(75%); // Más oscura
}
.fondo {
  background: #fffafa;
}
.center {
  text-align: center;
}
sc-ion-searchbar-md {
  float: right;
  position: end;
}

.ion-color-light {
  --ion-color-base: none !important;
}
ion-searchbar {
  --placeholder-opacity: black;
  --box-shadow: none !important;
  --border-radius: 20px;
  --background-color: -0.5;
  --transition: var(--transition);
}

div.hero {
  background: url(/assets/medioambiente1.jpg);
  height: 10%;
  color: white;
}
div.contenido-header {
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .contenido-header {
    padding-top: 10px;
  }
}
div.contenido-header {
  padding-top: 10px;
}
div.in {
  margin: 0 auto;
  margin-top: 50px;
}

div.in p {
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}
div.in p i {
  color: #fe4918;
  font-size: 2.4rem;
}
p.slogan {
  text-transform: none !important;
}
p.slogan span {
  font-weight: bold;
}

#mobile-menu {
  width: 30px;
  float: left;
  margin: 10px;
}
#bottom {
  align-self: flex-end;
  margin: 10px;
}
#agregar {
  margin: 10px;
}
.forma {
  height: 10vw;
  width: 10vw;
  margin-left: 0 0 0 auto;
  margin-right: 0 0 0 auto;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.paddining {
  padding: 1rem;
}

texto-blanco {
  --color: #ffffff;
}
ion-toolbar {
  --background: #2665aa;
}
ion-button {
  text-transform: initial;
  font-size: 10px;
  position: relative;
}
.posicion {
  margin: 2rem;
  position: absolute;
  margin-right: 1;
}
