ion-img {
  border-radius: 20px !important;
  overflow: hidden;
  display: block;
}
.imagen {
  height: 89.3px !important;
}

.center {
  text-align: center;
}
sc-ion-searchbar-md {
  float: right;
  position: end;
}

.ion-color-light {
  --ion-color-base: none !important;
}
ion-searchbar {
  --placeholder-opacity: black;
  --box-shadow: none !important;
  --border-radius: 20px;
  --background-color: -0.5;
  --transition: var(--transition);
}

div.hero {
  background: url(/assets/medioambiente1.jpg);
  height: 20%;
  color: white;
}
div.contenido-header {
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .contenido-header {
    padding-top: 10px;
  }
}
div.contenido-header {
  padding-top: 10px;
}
div.in {
  margin: 0 auto;
  margin-top: 50px;
}

div.in p {
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}
div.in p i {
  color: #fe4918;
  font-size: 2.4rem;
}
p.slogan {
  text-transform: none !important;
}
p.slogan span {
  font-weight: bold;
}
h1.nombre-sitio {
  font-size: 5.9px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}

div.contenido-header {
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  div.contenido-header {
    padding-top: 10px;
  }
}
nav.redes-sociales {
  text-align: center;
}
nav.redes-sociales a {
  color: #ffffff;
  font-size: 2em;
  margin-right: 20px;
}
nav.redes-sociales a:last-child {
  margin-right: 0;
}
div.informacion-evento {
  text-align: center;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  div.in {
    margin: 0 auto;
    margin-top: 50px;
  }
}
div.in p {
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}
div.in p i {
  color: #fe4918;
  font-size: 2.4rem;
}
p.fecha {
  float: left;
}
p.ciudad {
  float: right;
  text-align: right;
  color: white;
}
p.slogan {
  text-transform: none !important;
}
p.slogan span {
  font-weight: bold;
}
h1.nombre-sitio {
  font-size: 5.9vw;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}
@media only screen and (min-width: 768px) {
  h1.nombre-sitio {
    font-size: 11.5vw;
    margin: 0;
    line-height: 1;
  }
}
h1.nombre-sitio {
  font-size: 11.5px;
  margin: 0;
  line-height: 1;
}
#mobile-menu {
  width: 30px;
  float: left;
  margin: 10px;
}
#bottom {
  align-self: flex-end;
  margin: 10px;
}
#agregar {
  margin: 10px;
}
.forma {
  height: 10vw;
  width: 10vw;
  margin-left: 0 0 0 auto;
  margin-right: 0 0 0 auto;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
#padining {
  padding: 1rem;
}

texto-blanco {
  --color: #ffffff;
}
ion-toolbar {
  --background: #2665aa;
}
ion-button {
  text-transform: initial;
  font-size: 10px;
  position: relative;
}
.posicion {
  margin: 2rem;
  position: absolute;
  margin-right: 1;
}
