.imagen {
  width: 130px 130px !important;
}
ion-img {
  border-radius: 10px !important;
  overflow: hidden;
  display: block;
}

.contenedor {
  position: relative;
  display: inline-block;
  filter: brightness(65%);
}
.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado {
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #fffafa;
}
.imagen {
  filter: brightness(65%); // Más oscura
}
.fondo {
  background: #fffafa;
}
.center {
  text-align: center;
}
sc-ion-searchbar-md {
  float: right;
  position: end;
}

.ion-color-light {
  --ion-color-base: none !important;
}
ion-searchbar {
  --placeholder-opacity: black;
  --box-shadow: none !important;
  --border-radius: 20px;
  --background-color: -0.5;
  --transition: var(--transition);
}
