<ion-header>
  <ion-toolbar>
    <ion-buttons class="izqu" slot="start" routerLink="/autocuidado">
      <ion-button color="dark" Slot="end">
        <ion-icon slot="icon-only" name="arrow-back">
      </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">Zona objetivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row fullscreen>
    
      <ion-col size="6" >
        <div routerLink="/ejercicios" class="contenedor">
          
          <div class="imagen">
            <p><ion-img src="assets/biceps.jpg" class="slogan imagen "></ion-img></p>  
            <p class="centrado">BICEPS</p>
        </div>
      </div>
        
      <div routerLink="/ejercicios" class="contenedor">
          
        <div class="imagen">
          <p><ion-img src="assets/chest.jpg" class="slogan imagen "></ion-img></p>  
          <p class="centrado">CHEST</p>
      </div>
    </div>
        
    <div routerLink="/ejercicios" class="contenedor">
          
      <div class="imagen">
        <p><ion-img src="assets/triceps.jpg" class="slogan imagen "></ion-img></p>  
        <p class="centrado">TRICEPS</p>
    </div>
  </div>
  <div routerLink="/ejercicios" class="contenedor">
          
    <div class="imagen">
      <p><ion-img src="assets/shoulders.jpg" class="slogan imagen "></ion-img></p>  
      <p class="centrado">SHOULDES</p>
  </div>
</div>
      </ion-col>

      <ion-col size="6">
        <div routerLink="/ejercicios" class="contenedor">
          
          <div class="imagen">
            <p><ion-img src="assets/quaps.jpeg" class="slogan imagen "></ion-img></p>  
            <p class="centrado">QUADS</p>
        </div>
      </div>
      <div routerLink="/detalles-b" class="contenedor">
          
        <div class="imagen">
          <p><ion-img src="assets/brazo.jpg" class="slogan imagen "></ion-img></p>  
          <p class="centrado">FOREARMS</p>
      </div>
    </div>
    <div routerLink="/ejercicios" class="contenedor">
          
      <div class="imagen">
        <p><ion-img src="assets/abs.jpg" class="slogan imagen "></ion-img></p>  
        <p class="centrado">ABS</p>
    </div>
  </div>
  <div routerLink="/ejercicios" class="contenedor">
          
    <div class="imagen">
      <p><ion-img src="assets/bac.jpg" class="slogan imagen "></ion-img></p>  
      <p class="centrado">BACK</p>
  </div>
</div>
      </ion-col>
      
    </ion-row>


  </ion-grid>

</ion-content>
