<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-buttons slot="start" routerLink="/home">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      
      <ion-title id="bottom" color="medium" >AutoCuidado</ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content>
  
     <div class="row">
      <div class="derec  ">
      <ion-card href="orientacion" >
        <ion-img src="assets/cuidado.jpeg" ></ion-img>
        <ion-label  class="center">Orientacion al cuidado</ion-label>
      </ion-card>
    
    </div>
    
    <div class=" izqu">
      <ion-card href="guia">
        <ion-img class="" src="assets/autocuidado.jpeg"></ion-img>
        <ion-label class="center">Guia de autocuidado</ion-label>
      </ion-card>
    </div>
  </div>
  <div class="row">
    <div class=" derec ">
      <ion-card href="cuidados">
        <ion-img  src="assets/saludmental.jpeg"></ion-img>
        <ion-label class="center">Cuidado salud mental</ion-label>
      </ion-card>
      </div>
      <div class="izqu" >
      <ion-card href="ejercicios" >
        <ion-img  src="assets/ejercicio.jpeg"></ion-img>
        <ion-label class="center">Guia para ejercicio</ion-label>
      </ion-card>
  </div>
  <div class="" >
    <ion-card href="dietas" >
      <ion-img  src="assets/encabezado.jpg"></ion-img>
      <ion-label class="center">Dietas</ion-label>
    </ion-card>
</div>
  </div>
  </ion-content>
