  <ion-header>
    <ion-toolbar  class="ion-toolbar">
      
      <ion-title id="bottom" color="medium" >AutoCuidado</ion-title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </ion-toolbar>
  </ion-header>

<ion-content>
     <div class="row">
      <div class="col col-6 izqu ">
      <ion-card href="recordatorios" class=" invitado">
        <ion-img class="izqu" src="assets/cuidado.jpg" ></ion-img>
        <ion-label class="center">Orientacion al cuidado</ion-label>
      </ion-card>
    </div>
    <div class="col col-6 derec ">
      <ion-card href="recordatorios">
        <ion-img class="" src="assets/guia.jpg"></ion-img>
        <ion-label class="center">Guia autocuidado paso a paso</ion-label>
      </ion-card>
    </div>
  </div>
  <div class="row">
    <div class="col col-6 izqu">
      <ion-card href="recordatorios">
        <ion-img  src="assets/salud.jpg"></ion-img>
        <ion-label class="center">Cuidado de la salud mental</ion-label>
      </ion-card>
      </div>
      <div class="col col-6 derec " >
      <ion-card href="recordatorios" >
        <ion-img  src="assets/15445439653077.jpg"></ion-img>
        <ion-label class="center">Guia de ejercicio</ion-label>
      </ion-card>
  </div>
  </div>
  </ion-content>
