<ion-header>
  <ion-toolbar  class="ion-toolbar">
    <ion-buttons slot="start" routerLink="/home">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      
      <ion-title id="bottom" color="medium" >AutoCuidado</ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content>
  
     <div class="row">
      <div class=" izqu center">
      <ion-card  routerLink="/orientacion" >
        <ion-img src="assets/cuidado.jpeg" ></ion-img>
        <ion-label>Orientacion al cuidado</ion-label>
      </ion-card>
    </div>
    <div class="derec center">
      <ion-card  routerLink="/cuidados">
        <ion-img src="assets/saludmental.jpeg"></ion-img>
        <ion-label class="center"> Cuidado salud mental</ion-label>
      </ion-card>
    </div>
  </div>
  <div class="row">
    <div class="derec center" >
      <ion-card routerLink="/guias">
        <ion-img  src="assets/autocuidado.jpeg"></ion-img>
        <ion-label>Guia de autocuidado</ion-label>
      </ion-card>
      </div>
      <div class="izqu center"  >
      <ion-card routerLink="/zona-objetivos" >
        <ion-img  src="assets/ejercicio.jpeg"></ion-img>
        <ion-label>Guia para ejercicio</ion-label>
      </ion-card>
    </div>
   </div>
   <div class="row">
    <div class="derec center" >
      <ion-card routerLink="/dietas">
        <ion-img  src="assets/1.jpg"></ion-img>
        <ion-label>Dietas</ion-label>
      </ion-card>
      </div>
      <div class="izqu center"  >
      <ion-card routerLink="/ejercicios" >
        <ion-img  src="assets/11.jpg"></ion-img>
        <ion-label>Compra por Internet</ion-label>
      </ion-card>
    </div>
   </div>
  </ion-content>
